<tr class="allOrders">
	<td scope="row" id="order">
		<button type="button" ng-class="getFavClassIcon()"
			ng-click="orderButtonClicked()">
			<table class="ng-scope">
				<tbody>
					<tr>
						<th>Item Name</th>
						<th>Quantity</th>
					</tr>
					<tr ng:repeat="item in orderData[0].items">
						<td>{{item.itemName}}</td>
						<td>{{item.itemQuantity}}</td>
					</tr>

				</tbody>
			</table>
		</button>

	</td>
	<td id="preparing"></td>
	<td id="prepared"></td>
	<td id="delivered"></td>
</tr>
